<body class="dbody">

<h1 class="title"><b>The Blog</b></h1>

<img  class="bodyimg" ; src={Routes.static_path(@conn, "/images/people.png")} alt="people"/>
 
 <div  class="div1">
 
 <h1>Create you Blog and share with us you experience</h1>
 <h2 >Share and live the experience at the same moment of comment the
  differents post of you friends</h2>
</div>

</body>