<div  class="boxcomments">
<h1 class="commentcolor">Comments</h1>
<div class="comments">


	<%= for comment <- @blog.comments do %>
	<p class="round">
	   
		 <b><%= comment.name%> : </b>
		 <%= comment.text%>
	
	</p>
	<% end %>
	
</div>
</div>
