<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "BlogProject", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script src="https://kit.fontawesome.com/d32f80270b.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
    
      <div class="imagelogo">
      <img src={Routes.static_path(@conn, "/images/dlogo.png")} alt="Logo"/>
     
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#category">Category</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
   
      </div>
  
    </header>
    <%= @inner_content %>

    


   
  </body>
  
</html>
